---
---

@import "{{ site.theme }}";

// Override header colors
$header-bg-color: #ea4b71;
$header-bg-color-secondary: #6e72e0;

.page-header {
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
}
